body {
	margin: 0;
	background: #778;
}
#container {
	width: 100%;
	height: 100%;
	position: relative;
	margin-left: 50px;
	margin-top: 50px;
}
canvas {
}
#controls {
	position: absolute;
	top: 610px;
}
.control {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 5px;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	background: #eee;
}
#functions {
	position: absolute;
	width: 298px;
	top: 0;
	left: 820px;
	background: white;
}
.function {
	background: white;
}
.function-name {
	font-size: 20px;
	padding: 2px;
}
.slots {
	width: 296px;
	padding-left: 2px;
	padding-top: 2px;
}
.slot {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 2px;
	margin-bottom: 2px;
	background: #eee;
	border: 1px solid silver;
}
.slot-empty {
	background: #bbb;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
#run-stop {
	position: absolute;
	width: 295px;
	height: 40px;
	left: 820px;
	top: 560px;
	background: green;
	color: white;
	font-size: 24px;
}
#run-stop.running {
	background: red;
}
#run-stop.stopped {
	background: green;
}